<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Info</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
    <div class = "jumbotron">
        <ul class="nav nav-pills" style = "padding-left:50px">

            <li role="presentation"><a href={% url 'home' %}>Home</a></li>
            <li role="presentation" ><a href={% url 'user' %}>Player</a></li>
            <li role="presentation"class="active"><a href={% url 'character1' %}>Character</a></li>
            <li role="presentation"><a href="#">Items</a></li>

          
        </ul>
    </div>


          <form action='' method="post" role ="form">

                {% csrf_token %}
                {{ search_form }}

                <div class="row">
                    <div style = "margin-left:500px"  class="form-group col-lg-1">
                        <label  for="code">Name</label>
                        <input type="text" class="form-control" name = 'name' />
                        <input type="Submit" class="btn btn-primary"value="Search">
                    </div>
                </div>
          </form>
   <div> 
    {% if character %}
        <p>Name: {{ character.name }}</p>
        <p>Class: {{ character.charClass }}</p>
        <p>Attribute: {{ character.attribute }}</p>
        <p>Alliance: {{ character.alliance }}</p>
    {% else %}
        <h3>Character '{{ target }}' does not Exist</h3>
    {%  endif %}
</div>

</body>
</html>